<click-game-header title="Gather Resources"></click-game-header>

<div>
    <resource-overview datasource="resources"></resource-overview>
</div>
<div class="row">
    <!-- Food -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <button class="btn btn-block btn-success btn-lg" ng-click="gatherFood()">Gather Food</button>
    </div>
    <!-- Food -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <button class="btn btn-block btn-success btn-lg" ng-click="gatherWood()">Gather Wood</button>
    </div>

</div>
