<h1>Maulwurfn!! The GAME</h1>
<div>
    <span>Score: {{score}}</span>
</div>
<div>
    <span>Leben: {{live}}</span>
</div>

<div ng-show="isStarted()" class="maulwurfnSpielfeld">
    <div class="row" ng-repeat="row in playArea">
        <div class="square" ng-repeat="item in row track by $index" ng-click="select(item)">
            <div class="circle" ng-style="setStyling(item)">
                <span>{{item.text}}</span>
            </div>
        </div>
    </div>
</div>

<div ng-show="!isStarted()" class="maulwurfnSpielfeld">
    <div ng-show="isGameOver()">
        GAME OVER!!!
    </div>
    <div ng-show="!isGameOver()">
        Spiel ist nicht gestartet! 
    </div>
    
</div>

<!-- Event trigger to start the interval -->
<button type="button" ng-click="start()">Start Interval</button>

<!-- Event trigger to stop the interval -->
<button type="button" ng-click="stop()">Stop Interval</button>