.skin-blue-light .main-header .navbar {
    background-color: #3c8dbc;
}

.row {
	width: 100%;
}

.square {
	float: left;
	width: 60px;
	height: 60px;
}

.square:hover {
	cursor: pointer;
	opacity: .8;
}

.circle {
	border-radius: 50%;
	width: 94%;
	height: 94%;
	margin: 3%;
	color: black;
	text-align: center;
	line-height: 56px;
}