.skin-blue-light .main-header .navbar {
    background-color: #3c8dbc;
}

.row {
	width: 100%;
}

.square {	

	background-color: green; 
	background-size: 60px 60px;
	float: left;
	width: 60px;
	height: 60px;
}

.square0 {	
	background-image: url("../assets/nix00.jpg");  
	background-size: 60px 60px;
	float: left;
	width: 60px;
	height: 60px;
}

.square1 {	
	background-image: url("../assets/nix01.jpg");  
	background-size: 60px 60px;
	float: left;
	width: 60px;
	height: 60px;
}

.square2 {	
	background-image: url("../assets/nix02.jpg");  
	background-size: 60px 60px;
	float: left;
	width: 60px;
	height: 60px;
}

.square3 {	
	background-image: url("../assets/nix03.jpg");  
	background-size: 60px 60px;
	float: left;
	width: 60px;
	height: 60px;
}

.square4 {	
	background-image: url("../assets/nix04.jpg");  
	background-size: 60px 60px;
	float: left;
	width: 60px;
	height: 60px;
}

.square5 {	
	background-image: url("../assets/nix05.jpg");  
	background-size: 60px 60px;
	float: left;
	width: 60px;
	height: 60px;
}

	

.square:hover {
	cursor: pointer;
	opacity: .8;
}

.circle {
	border-radius: 50%;
	width: 94%;
	height: 94%;
	margin: 3%;
	color: black;
	text-align: center;
	line-height: 56px;
}

.maulwurfnSpielfeld {
	float: center;
	width: 500px;
	height: 500px;
}

.emptyField {
	
	
}

.malteField{
	background-image: url("../assets/malte2.jpg");  
	background-size: 60px 60px;	
}

.maulwurfField{
	background-image: url("../assets/maulwurf1.jpg");  
	background-size: 60px 60px;
}

.maulwurfField1{
	background-image: url("../assets/maulwurf1.jpg");  
	background-size: 60px 60px;
}

.maulwurfField2{
	background-image: url("../assets/maulwurf2.jpg");  
	background-size: 60px 60px;
}
