.skin-blue-light .main-header .navbar {
    background-color: #3c8dbc;
}

.row {
	width: 100%;
}

.square, .square0, .square1 , .square2 , 
	.square3, .square4, .square5, 
	.malteIcon , .maulwurfIcon,     
	.malteField, .maulwurfField, .maulwurfField1, .maulwurfField2

	{	
	background-size: 75px 75px;
	float: left;
	width: 75px;
	height: 75px;
}

.square0 {	
	background-image: url("../assets/nix00.jpg");  
	float: left;
}

.square1 {	
	background-image: url("../assets/nix01.jpg");  
	float: left;
}

.square2 {	
	background-image: url("../assets/nix02.jpg");  
	float: left;
}

.square3 {	
	background-image: url("../assets/nix03.jpg");  
	float: left;
}

.square4 {	
	background-image: url("../assets/nix04.jpg");  
	float: left;
}

.square5 {	
	background-image: url("../assets/nix05.jpg");  
	float: left;
}

.square:hover {
	cursor: pointer;
	opacity: .8;
}

.squareLawn {	
	background-image: url("../assets/nix04.jpg");  
	float: left;
	background-size: 75px 75px;
	float: left;
	width: 75px;
	height: 75px;
}

.circle {
	border-radius: 50%;
	width: 94%;
	height: 94%;
	margin: 3%;
	color: black;
	text-align: center;
	line-height: 56px;
}

.maulwurfnSpielfeld {
	float: center;
	width: 600px;
	height: 600px;
}

.malteIcon {	
	background-image: url("../assets/malte2.jpg");  
	float: left;
}

.maulwurfIcon {	
	background-image: url("../assets/maulwurf1.jpg");  
	float: left;
}

.malteField{
	background-image: url("../assets/malte2.jpg");  
}

.maulwurfField{
	background-image: url("../assets/maulwurf1.jpg");  
}

.maulwurfField1{
	background-image: url("../assets/maulwurf1.jpg");  
}

.maulwurfField2{
	background-image: url("../assets/maulwurf2.jpg");  
}

.instagramLink {	
	background-image: url("../assets/instagram.jpg");   
	background-size:     contain;                    
    background-repeat:   no-repeat;
    background-position: center center;
	border: none; 
	width: 640px;
	height: 240px;
	float: left;
}

.playLinkMaulwurfn {
	background-image: url("../assets/Maulwurfn_png.png"); 
	background-size:     contain;                     
    background-repeat:   no-repeat;
    background-position: center center;
	border: none; 
	width: 640px;
	height: 240px;
	float: left;
}

.titelPic {
	background-image: url("../assets/titel.jpg"); 
	background-size:     contain;                     
    background-repeat:   no-repeat;
    background-position: center center;
	border: none; 
	width: 640px;
	height: 240px;
	float: left;
}